body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f9f9f9;
  color: #2c3e50;
}

.branding {
  font-weight: 1000;
}

header, footer {
  padding: 20px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color:  #2c3e50;
  font-weight: 1000;
   font-size: 0.95rem;
}

.container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
}

h1 {
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin: 10px 0 5px;
}

input, select, textarea, button {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  background:  #2c3e50;
  color: #fff;
  cursor: pointer;
}

button[type="submit"]:hover {
  background: #34495e;
}

.contact-info {
  margin-top: 30px;
  font-size: 0.9em;
  color:  #2c3e50;
}

.social {
  margin-top: 15px;
}

.social a {
  margin-right: 10px;
  text-decoration: none;
  color:  #2c3e50;
}

footer {
  font-size: 0.9em;
}

